In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = []

In [5]:
df = data.copy(deep = True)

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
df[df.budget == df.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [7]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
df[df.runtime == df.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [9]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [10]:
df[df.runtime == df.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [11]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [12]:
round(df.runtime.mean())

110

In [13]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [14]:
round(df.runtime.median())

106

In [15]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [16]:
df['profit'] = df['revenue'] - df['budget']
df[df.profit == df.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [17]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [18]:
df[df.profit == df.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [19]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [20]:
df[df.profit > 0].imdb_id.count()

1478

In [21]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [22]:
df[df.profit == (df[df.release_year == 2008].profit.max())]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [23]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [24]:
df[df.profit == df.query('2012 <= release_year <= 2014').profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

In [25]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [26]:
df_2 = df.copy(deep=True)
df_2.drop(df_2.columns.difference(['imdb_id', 'release_year', 'profit', 'genres', 'director', 'cast', 'budget']), 1,
          inplace=True)
df_2.genres = df_2.genres.str.split('|')


def explode(df, lst_cols, fill_value=''):
    if lst_cols and not isinstance(lst_cols, list):
        lst_cols = [lst_cols]

    idx_cols = df.columns.difference(lst_cols)

    lens = df[lst_cols[0]].str.len()

    if (lens > 0).all():

        return pd.DataFrame({
            col: np.repeat(df[col].values, lens)
            for col in idx_cols
        }).assign(**{col: np.concatenate(df[col].values) for col in lst_cols}) \
                   .loc[:, df.columns]
    else:

        return pd.DataFrame({
            col: np.repeat(df[col].values, lens)
            for col in idx_cols
        }).assign(**{col: np.concatenate(df[col].values) for col in lst_cols}) \
                   .append(df.loc[lens == 0, idx_cols]).fillna(fill_value) \
                   .loc[:, df.columns]


df_2.dropna(inplace=True);
df_2 = explode(df_2, ['genres'])

In [27]:
popular_genres = df_2.genres.value_counts()
popular_genres[:1]

Drama    782
Name: genres, dtype: int64

In [28]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [29]:
popular_genres_profit = df_2[df_2['profit'] > 0].genres.value_counts()
popular_genres_profit[:1]

Drama    560
Name: genres, dtype: int64

In [30]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [31]:
top_directors = (df_2.groupby('director')['imdb_id'].count()).sort_values(ascending=False)
top_directors[:1]

director
Ridley Scott    36
Name: imdb_id, dtype: int64

In [32]:
answer_ls.append(2)

# 14. Кто из режиссеров снял больше всего прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [33]:
top_directors_profit = df[df['profit'] > 0].director.value_counts()
top_directors_profit[:1]

Ridley Scott    12
Name: director, dtype: int64

In [34]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [35]:
df_temp = pd.DataFrame()
for director, v in top_directors[:10].items():
    df_temp = df_temp.append(df_2[df_2['director'].str.contains(director)], ignore_index=True)
df_directors = df_temp
df_directors['profit'] = df_directors['profit'].astype(str).astype('float64')
directors_profit = df_directors.groupby(['director']).mean()
directors_profit = directors_profit.drop(directors_profit.columns.difference(['director', 'profit']), 1)
directors_profit = directors_profit.sort_values(by='profit', ascending=False)
directors_profit[:1]

                         profit
director
Christopher Nolan  4.605884e+08

In [36]:
answer_ls.append(2)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [37]:
df_3 = df.copy(deep=True)
df_3.drop(df_3.columns.difference(['imdb_id', 'release_year', 'profit', 'genres', 'director', 'cast', 'budget']), 1,
          inplace=True)
df_3.cast = df_3.cast.str.split('|')
df_3.dropna(inplace=True);
df_3 = explode(df_3, ['cast'])
actors_profit = (df_3.groupby('cast')['profit'].sum()).sort_values(ascending=False)
actors_profit[:1]

cast
Emma Watson    6666245597
Name: profit, dtype: int64

In [38]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [39]:
actors_profit_2012 = (df_3[df_3.release_year == 2012].groupby('cast')['profit'].sum()).sort_values()
actors_profit_2012[:1]

cast
Kirsten Dunst   -68109207
Name: profit, dtype: int64

In [40]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [41]:
top_actors_budget = df_3[df_3['budget'] > df_3['budget'].mean()].cast.value_counts()
top_actors_budget[:1]

Matt Damon    18
Name: cast, dtype: int64

In [42]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [43]:
nic = df_3[df_3.cast == 'Nicolas Cage'].copy()
nic.genres = nic.genres.str.split('|')
nic.dropna(inplace=True);
nic = explode(nic, ['genres'])
nic_popular_genres = nic.genres.value_counts()
nic_popular_genres[:1]

Action    17
Name: genres, dtype: int64

In [44]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
df_4 = df.copy(deep=True)
df_4.drop(
    df_4.columns.difference(['imdb_id', 'original_title', 'release_year', 'profit', 'genres', 'production_companies']),
    1, inplace=True)
df_4.production_companies = df_4.production_companies.str.split('|')
df_4.dropna(inplace=True);
df_4 = explode(df_4, ['production_companies'])
popular_companies = df_4.production_companies.value_counts()
popular_companies[:1]

Universal Pictures    173
Name: production_companies, dtype: int64

In [46]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [47]:
popular_companies_2015 = df_4[df_4.release_year == 2015].production_companies.value_counts()
popular_companies_2015[:1]

Warner Bros.    12
Name: production_companies, dtype: int64

In [48]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [49]:
comedy_companies = (
    df_4[df_4.genres.str.contains('Comedy')].groupby('production_companies')['profit'].sum()).sort_values(
    ascending=False)
comedy_companies[:1]

production_companies
Universal Pictures    8961545581
Name: profit, dtype: int64

In [50]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [51]:
companies_profit_2012 = comedy_companies = (
    df_4[df_4.release_year == 2012].groupby('production_companies')['profit'].sum()).sort_values(ascending=False)
companies_profit_2012[:1]

production_companies
Columbia Pictures    2501406608
Name: profit, dtype: int64

In [52]:
answer_ls.append(1)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [53]:
paramount_nightmare = df_4[df_4.production_companies == 'Paramount Pictures'].groupby('original_title')[
    'profit'].sum().sort_values()
paramount_nightmare[:1]

original_title
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

In [54]:
answer_ls.append(1)

# 25. Какой самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [55]:
profitable_year = df_4.groupby('release_year')['profit'].sum().sort_values(ascending=False)
profitable_year[:1]

release_year
2015    65334625738
Name: profit, dtype: int64

In [56]:
answer_ls.append(5)

# 26. Какой cамый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [57]:
profitable_year_wb = df[df.production_companies.str.contains('Warner Bros')].groupby('release_year')[
    'profit'].sum().sort_values(ascending=False)
profitable_year_wb[:1]

release_year
2014    2295464519
Name: profit, dtype: int64

In [58]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [59]:
from datetime import datetime

df['release_month'] = df['release_date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').month)
popular_month = df.groupby('release_month')['imdb_id'].count().sort_values(ascending=False)
popular_month[:1]

release_month
9    227
Name: imdb_id, dtype: int64

In [60]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [61]:
summer = [6, 7, 8]
df.query('release_month in @summer').groupby('release_month')['imdb_id'].count().sum()

450

In [62]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [63]:
winter = [1, 2, 12]
winter_directors = (df.query('release_month in @winter').groupby('director')['imdb_id'].count()).sort_values(
    ascending=False)
winter_directors[:1]

director
Peter Jackson    7
Name: imdb_id, dtype: int64

In [64]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [65]:
summary = df.groupby(['release_year', 'release_month'])['profit'].agg(['sum', 'count']).reset_index()
max_year = data.release_year.max()
min_year = data.release_year.min()
profit_months_by_years = []

for year in range(min_year, max_year + 1):
    pos = summary.query('release_year == @year')['sum'].idxmax()
    month = summary.iloc[pos]['release_month']
    profit_months_by_years.append(month)
    
profit_months_by_years = pd.Series(profit_months_by_years).value_counts()
profit_months_by_years[:1]

6    7
dtype: int64

In [66]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [67]:
df_4['original_title_length'] = df_4['original_title'].apply(len)
longest = df_4.groupby('production_companies')['original_title_length'].mean().sort_values(ascending=False)
longest[:1]

production_companies
Four By Two Productions    83.0
Name: original_title_length, dtype: float64

In [68]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [69]:
df_4['original_title_words_count'] = df_4['original_title'].apply(lambda x: len(x.split()))
longest_2 = df_4.groupby('production_companies')['original_title_words_count'].mean().sort_values(ascending=False)
longest_2[:1]

production_companies
Four By Two Productions    12.0
Name: original_title_words_count, dtype: float64

In [70]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [71]:
words_count = []
words = data['original_title'].apply(lambda x: x.lower().replace('  ', ' ').split())
words_count.extend(words.values)
res = sorted(np.unique([item for sublist in words_count for item in sublist]))
len(res)

2461

In [72]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [73]:
one_percent = data[data.vote_average > data.vote_average.quantile(.99)]['original_title'].reset_index()[
    'original_title'].array
pos = [
    ['Inside Out', 'Gone Girl', '12 Years a Slave'],
    ['BloodRayne', 'The Adventures of Rocky and Bullwinkle'],
    ['The Lord of the Rings: The Return of the King', 'Upside Down'],
    ['300', 'Lucky Number Slevin'],
    ['Upside Down', '300', 'Inside Out', 'The Lord of the Rings: The Return of the King']]

for i in range(0, len(pos)):
    if all(i in one_percent for i in pos[i]):
        result = ', '.join(pos[i])
        break
result

'Inside Out, Gone Girl, 12 Years a Slave'

In [74]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [75]:
import itertools as itt

candidates = [('Johnny Depp', 'Helena Bonham Carter'), ('Hugh Jackman', 'Ian McKellen'),
              ('Vin Diesel', 'Paul Walker'), ('Adam Sandler', 'Kevin James'), ('Daniel Radcliffe', 'Rupert Grint')]
res = []
res_1 = []

actors = [i for i in
          map(lambda x: list(itt.combinations(sorted(x.split('|')), 2)), data['cast'])]
actors = [item for sublist in actors for item in sublist]

df1 = pd.DataFrame(pd.Series(actors).value_counts())
df1.columns = ['films_count']

result = df1.loc[candidates].sort_values(by='films_count', ascending=False)
result[:1]

C:\Users\qwk\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  from ipykernel import kernelapp as app

                                  films_count
(Daniel Radcliffe, Rupert Grint)          8.0

In [76]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

# Submission

In [77]:
len(answer_ls)

35

In [78]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       2
13  14       4
14  15       2
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       1
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5